TaskList {
  width: auto;
  height: auto;
  background: $secondary;
  margin-top: 5;
}

Task, ListItem {
  layout: grid;
  grid-size: 4 1;
  grid-columns: 15;
  padding: 1;
}

.task_sessions {
  dock: right;
}

#dialog_create_task {
  width: 50%;
}
#dialog_create_task > Label {
  margin: 1;
}
#button_box > Button {
  margin: 1;
}

